extends ./layout.pug
block main
    section.swiper.mySwiper.slider-container
        .pre-btn
            button.pre-btn
                i.fa-solid.fa-chevron-left
        .nxt-btn
            button.nxt-btn
                i.fa-solid.fa-chevron-right
        .swiper-wrapper.slider
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
            .swiper-slide.card-slider
                .card-firm
                    a.card-firm__main(href='')
                        .poster
                            img(src='../Images/anh1.jpg' alt='')
                        .quality HD
                        .play
                            i.fa-solid.fa-play
                    a.card-firm__name(href='') Name
                    .card-firm__info
                        span.item.star 8
                        span.item 2022
                        i.item.fa-solid.fa-circle
                        span.item 117m
    section.social-network
        nav.social-network__list
            a.item(href='' style='--i:#1DA1F2;')
                i.fa-brands.fa-twitter
                span Twitter
            a.item(href='' style='--i:#3B5998;')
                i.fa-brands.fa-square-facebook
                span Facebook
            a.item(href='' style='--i:#4DC247;')
                i.fa-brands.fa-whatsapp
                span WhatsApp
            a.item(href='' style='--i:#CB2027;')
                i.fa-brands.fa-pinterest
                span Pinterest
            a.item(href='' style='--i:#0088CC;')
                i.fa-brands.fa-telegram
                span Telegram
            a.item(href='' style='--i:#848484;')
                i.fa-solid.fa-envelope
                span Email
            a.item(href='' style='--i:#FF6550;')
                i.fa-solid.fa-plus
                span More

    section.home-container
        .home-container__heading
            h3 Latest Movies
            a(href='')
                span View All
                i.fa-solid.fa-chevron-right
        .home-container__main
            .row.gy-5
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
                .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
                    .film-list
                        .card-firm
                            a.card-firm__main(href='')
                                .poster
                                    img(src='../Images/anh1.jpg' alt='')
                                .quality HD
                                .play
                                    i.fa-solid.fa-play
                            a.card-firm__name(href='') Name
                            .card-firm__info
                                span.item 2022
                                i.item.fa-solid.fa-circle
                                span.item 117m
