include ./mixin
doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Movie
    link(rel='stylesheet' href='../Css/main.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css')
body
    include ./header
    .container
        include ./sidebar
        main
            block main
    include ./footer
    script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
    script(src='../Js/main.js')